body {
    background: linear-gradient(to right, #03071e, #10002b); /* Cool gradient background */
    color: white;
  }
  
  .container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .shoe-container {
    display: flex;
    justify-content: center;
  }
  
  .carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  /* Responsive adjustments for mobile devices */
  @media only screen and (max-width: 768px) {
    .shoe {
      width: 400px;
      height: 400px;
      margin: 0 auto; /* Center shoes on smaller screens */
    }
  
    .product-details {
      margin-top: 10px; /* Reduce top margin on small screens */
    }
  }
  
  .shoe {
    width: 600px;
    height: 600px;
    margin-right: 20px;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.2); /* White border with opacity */
    transition: transform 0.5s, box-shadow 0.3s;
  }
  
  .shoe img {
    width: 100%;
    height: auto;
    object-fit: contain;
    transform-style: preserve-3d;
  }
  
  .shoe:hover,
  .shoe.active {
    transform: rotateY(180deg); /* Apply flip animation */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3); /* Add subtle hover shadow */
  }
  
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    opacity: 0.7; /* Semi-transparent buttons */
  }
  
  button:hover {
    opacity: 1; /* Full opacity on hover */
  }
  
  #prevBtn {
    left: 10px;
  }
  
  #nextBtn {
    right: 10px;
  }
  
  .product-details {
    text-align: center;
    margin-top: 20px;
  }
  
  .product-details h2 {
    margin-bottom: 10px;
  }
  
  .product-details p {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .product-details button {
    padding: 10
  }  